body {
	background-color: white;
}

.c-sidebar {
	background-color: #A39494;
	padding: 12px;
	margin-top: -20px;
}

.c-state-history, .c-comment-history {
	font-size: 8pt;
}

.c-question-select{
	font-size: 14pt;
}

.c-survey {

}

.c-main {
	max-width: 1268px;
}
.c-answers {
	font-size: 17pt;
}

#history {
	overflow-y: scroll;
}


.questionaire {

	padding: 5px;

}

